/* Don't change the existing CSS. */

#outer-box {
  background-color: purple;
}

.box {
  background-color: blue;
  padding: 10px;
}

.inner-box {
  background-color: red;
  padding: 10px;
}

.white-text {
  color: white;
}

p {
  color: rgb(255, 255, 0);
  margin: 0;
  padding: 0;
}

